.footer {
    /* max-width: calc(100% - 1rem); */
    margin: auto;
    margin-top: 1rem;
    list-style-type: none;
}

footer span {
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}

body.page-edit footer {
    display: none;
}

.footer-container {
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
}

.footer .logo {
    margin-top: 10px;
    padding: 2px;
    border-top: 2px var(--clr-sec) solid;
}

.footer .footer-text li {
    color: var(--clr-bright);
    font-size: 0.75rem;
}

.footer .footer-text li span {
    font-weight: bold;
}

.footer .logo {
    margin-bottom: 30px;
}

.footer .footer-text {
    margin-bottom: 40px;
}

.footer a:hover {
    background-color: var(--clr-prim);
}

.footer-container {
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: var(--clr-brighter);
    margin: 0;
    max-height: 19.6875rem;
}

.social-links-container a {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--clr-bright);
    color: var(--clr-brightest);
    text-decoration: none;
    font-size: 1rem;
}

.social-links-container li:not(:last-child) {
    margin-inline-end: 20px;
}

.link-github a::before {
    color: var(--clr-sec);
    content: "Click Here to see more projects";
}

.link-github a:hover {
    background-color: unset;
    color: var(--clr-sec);
    scale: 1.01;
}

.link-github a {
    color: var(--clr-sec);
}

/* Icons */
.fa.facebook::before {
    content: "\f39e";
}

.fa.twitter::before {
    content: "\f099";
}

.fa.behance::before {
    content: "\f1b4";
}

.fa.dribbble::before {
    content: "\f17d";
}