.modal::before {
    content: 'X';
    font: bold;
    font-size: 2rem;
    font-family: fa;
    color: red;
    align-self: flex-start;
}

.modal .nav-back::before {
    font-size: 3rem;
    color: green;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    align-items: center;
    width: 90%;
    min-height: 300px;
    background-color: var(--clr-brightest);
    border: 3px solid var(--clr-sec);
    font-weight: bold;
    border-radius: .5em;
    max-width: 500px;
    background: var(--clr-prim) linear-gradient(to bottom,
            var(--clr-prim),
            var(--clr-brighter) calc(50% - 10px),
            var(--clr-brightest) calc(50% + 10px),
            var(--clr-prim));
}

.modal h2[data-status="green"]{
    color: green;
}
.modal h2[data-status="red"]{
    color: red;
}

.modal[hidden] {
    left: -101vw;
    top: -101vh;
}

.modal::selection {
    background-color: var(--clr-sec);
    color: var(--clr-brighter);
}