/* Paging */
section.main-edit-container {
    position: relative;
    right: 120vw;
    font-family: fa-solid;
}

body.page-edit .main-edit-container {
    position: relative;
    animation: fade-in-right .8s;
    right: unset;
    width: 100%;
    height: calc(100% - 63px);
    overflow-y: hidden;
    overflow-x: visible;
}

.fade-out-up {
    animation: fade-out-up 2s forwards;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-out-up {
    from {
        position: relative;
        opacity: 1;
    }

    to {
        position: relative;
        opacity: 0;
        display: none;
        visibility: hidden;
        margin-top: -15vh;
        transform: translate3d(0, -15vh, 0);
    }
}

/* Canvas */
/* .meme-container {outline: 2px solid lightgreen;} */
canvas#meme {
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    display: block;
    border: 2px solid rgb(255, 0, 0);
    margin: 0 auto;
    border-radius: .5em;
    cursor: grab;
}

/* Buttons */
.btns-edit-container {
    margin-top: 15px;
    max-height: 100%;
    max-width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(6, 48px);
    grid-template-rows: repeat(5, 48px);
}

.btns-edit-container>* {background-color: var(--clr-brighter);}

.btns-edit-container>*:hover {color: var(--clr-prim);}

.btns-edit-container input {
    position: relative;
    height: 100%;
    width: 100%;
}

.add-meme-keyword {grid-column: 1/4;}

.set-txt {grid-column: 4/7;}

.btns-edit-container .font-select {
    grid-column: 4/6;
    grid-row: 3;
}

.keyword-heading {grid-column: 1/-1;}

.btn-download {grid-column: 3/5;}

/* Color Inputs*/
[name="set-stroke-color"],
[name="set-fill-color"] {display: none;}

.btn-fill-color,
.btn-stroke-color {text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.555)}

.btn-fill-color::before {content: '\f53f';}

.btn-stroke-color::before {content: '\f1fc';}

.keyword-heading::before {
    content: 'Meme Keywords:\00a0\00a0';
    color: var(--clr-prim);
}

/* Tablet-Wide */
@media (min-width: 768px) {

    .btns-edit-container {
        grid-template-columns: repeat(6, calc(4em - 4px));
        grid-template-rows: repeat(5, calc(4em - 4px));
    }

    .main-edit-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .edit-heading {
        display: none;
    }

}