* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: fa-solid, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
}

body {
    color: var(--txt-clr);
    font-size: 1rem;
    /* height: 100vh; */
    /* overflow-x: hidden; */
    /* width: 100%; */
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--clr-dark);
    -webkit-box-shadow: inset 0 0 6px var(--clr-main);
	background-color:var(--clr-darker); 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-darkest);
    outline: 1px solid var(--clr-darker);
    border-radius:25px ;
	border: 1px solid var(--clr-main);
}

section {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--clr-main);
    max-width: 90vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    line-height: 1.875rem;
    color: var(--clr-dark);
}

::selection {
    background-color: var(--clr-main);
    color: var(--clr-hoover);
}

a {
    text-decoration: none;
    color: var(--clr-brightest);
}

i{
    font-family: fa-solid;
}
@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1020px) {
    html {
        font-size: 18px;
    }
}