* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, euro-regular, fa-solid, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
}

body {
    color: var(--txt-clr);
    font-size: 1rem;
}

/* i18 */
body.he {
    direction: rtl;
}

/* ViewPort Typography*/
h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    line-height: 3rem;
    margin-top: 0;
    padding-top: 0;
    min-height: 15vh;

    color: var(--clr-prim);
    background-image: url('../../assets/img/heading.png');
    border-bottom: 1.5px solid var(--clr-prim);

    text-transform: capitalize;
    text-shadow: 1px 0px 1px var(--clr-darkest);
    font-size: 5.9vw;
}

/* cancel animation on searching img*/
h1:not(:first-child) {
    animation: fade-in-up .5s;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

h2 {
    padding: 20px 15px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(3vw + 1em);
    color: var(--clr-sec);
}

h3 {
    margin: 0 0 1em;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.875rem;
    color: var(--clr-sec);
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10px;
    color: var(--clr-darkest);
    font-size: 2vmin + 1rem;
}

p::first-line {
    color: var(--clr-sec);
    font-style: italic;
}

p::first-letter {
    font-size: 1.3rem;
    font-style: oblique;
}

/* Scroll*/
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--clr-dark);
    -webkit-box-shadow: inset 0 0 6px var(--clr-prim);
    background-color: var(--clr-darker);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-darkest);
    border-radius: 20px;
    border: 1px solid var(--clr-prim);
}

::selection {
    background-color: var(--clr-prim);
    color: var(--clr-sec);
}

::placeholder {
    font-size: 1rem;
    color: var(--clr-bright);
}

/* Input */
input::placeholder {
    font-size: calc(1em - 4px);
    justify-content: center;
    text-align: center;
}

/* pseudo-element is not supported in Internet Explorer or Edge Legacy */
input::-ms-input-placeholder {
    text-align: center;
}

[role="button"],
button,
.btn,
.btn-big,
input,
label {
    color: var(--clr-darkest);
    font-weight: bold;
    transition: scale .5s, background-color 3s, font-size .3s;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

[role="button"],
button,
.btn,
.btn-big,
input:hover {
    font-size: calc(1rem + .5px);
    cursor: pointer;
}

label {
    cursor: pointer;
    padding: 5px;
    margin-inline-start: 10px;
    text-decoration: underline;
}

button,
.btn,
[role="button"]:active {
    transform: scale(1.03);
}

button,
.btn,
[role="button"]:hover {
    transform: scale(1.01);
}

.btn-big {
    color: var(--clr-prim);
    background-color: var(--clr-darkest);
    border-radius: 10px;
    border: solid 1.5px var(--clr-prim);
    padding: 10px;
    font-size: calc(2px + 1rem);
}

.btn-big:hover {
    /* transition: all .3s; */
    background-color: var(--clr-darker);
    color: #b321d0;
    border: solid 3px #852399;
}

.btn-big:active {
    transition: scale .3s;
    transform: scale(1.03);
}

input:hover {
    background-color: var(--clr-prim);
}

input:focus {
    font-weight: bold;
    transition: background-color .8s;
    color: var(--clr-sec);
    background-color: var(--clr-prim);
}

/* tap target */
button,
[role="button"],
.btn,
.btn-big,
nav a {
    min-width: 48px;
    min-height: 48px;
}

/*  no stretching media */
img,
embed,
video,
object {
    max-width: 100%;
}

section {
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--clr-brightest);
}

i {
    font-size: inherit;
    font-family: fa-solid;
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1020px) {
    html {
        font-size: 18px;
    }
}