.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.flex-direction-column {
    flex-direction: column;
}


.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.grid {
    display: grid;
}


.glass-container {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    border: 1px solid rgba(255, 255, 255, 0.36);
}