.main-layout {
    margin-inline-start: 3vw;
    margin-inline-end: 3vw;
    border: 2px solid var(--clr-darker);
    margin-top: 81px;
}

/* Tablet */
@media (min-width: 768px) {
    .main-layout>*:not(.full) {
        /* margin-inline-end: 4vw; */
        /* margin-inline-start: 4vw; */
    }
}

/* Desktop */
@media (min-width: 1020px) {
    .main-layout>*:not(.full) {
        /* margin-inline-end: 5vw; */
    }
}