.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-main);
    font-family: -apple-system, eurofurence, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}

.logo::first-letter {
    color: var(--clr-hoover);
}

.logo::before {
    content: 'Meme';
}

.logo::after {
    color: var(--clr-hoover);
    content: 'Gen';
}