section.main-edit-container {
    position: fixed;
    right: 120vw;
}

body.page-edit .main-edit-container {
    position: unset;
    animation: fade-in-right .6s;
    right: unset;
}

.fade-in-right {animation-name: fade-in-right;}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


.meme-container {
    transition: all .2s;
    flex-wrap: wrap;
}

.keyword-heading {
    float: left;
}

.keyword-heading::before {
    content: 'Keywords: ';
}

.meme-keyword-form {
    float: right;
}

canvas#meme {
    clear: both;
    max-width: 90vw;
    display: block;
    margin: 0 auto;
}




input.color-input {
    position: inherit;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.editor-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(3, 3em);
}

.editor-container i {
    background-color: var(--clr-brighter);
    font-family: fa-solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-container i:hover {
    cursor: pointer;
    color: var(--clr-main);
}

.export {
    margin-top: 10px;
}

.line-txt {
    padding: 10px 15px;
    width: 80%;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 6;
}

.font-select {
    grid-column-start: 1;
    grid-column-end: 4;
}

