/* Paging */
section.main-edit-container {
    position: fixed;
    right: 120vw;
}

body.page-edit .main-edit-container {
    position: unset;
    animation: fade-in-right .8s;
    right: unset;
}

.fade-in-right {animation-name: fade-in-right;}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Meme Keywords */
h2.keyword-heading {float: left;}
h2.keyword-heading::before {content: 'Meme Keywords: ';}

/* add keyword Form */
.keyword-form-container{
    padding: 10px;
}
.meme-keyword-form {float: right;}

input[name="meme-keyword"] {
    padding: 5px 5px;
    margin: auto;
}

/* Canvas */
canvas#meme {
    clear: both;
    max-width: 90vw;
    display: block;
    margin: 0 auto;
}

canvas#meme {max-height: 50vh;}
/*                                  🐱‍👤👀🐱‍👤 */
input[name="line-txt"] {
    display: flex;
    font-family: fa-solid;
    padding: 10px 15px;
    width: 80%;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 6;
}

.editor-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(3, 3em);
}

.editor-container i {
    background-color: var(--clr-brighter);
    font-family: fa-solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-container i:hover {
    cursor: pointer;
    color: var(--clr-prim);
}

.export {
    margin-top: 10px;
}

.font-select {
    grid-column-start: 1;
    grid-column-end: 4;
}