.meme-container {
    transition: all .3s;
    flex-wrap: wrap;
    margin: auto;
}

body.meme-container-open {
    transform: translateX(-150%);
}

canvas#meme {
    max-width: 90vw;
    aspect-ratio: auto;
    /* cursor: crosshair; */
    display: block;
    margin: 0 auto;
}

.setting-btn {
    background-color: var(--clr-brighter);
}

.setting-btn:hover {
    cursor: pointer;
    color: var(--clr-main);
}

input.color-input {
    position: inherit;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.editor-container {
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(3, 3em);
}

.export {
    margin-top: 10px;
}

.line-txt {
    padding: 10px 15px;
    width: 80%;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 6;
}

.font-select {
    grid-column-start: 1;
    grid-column-end: 4;
}