.footer {
    /* max-width: calc(100% - 1rem); */
    margin: auto;
    margin-top: 1rem;
}

.footer-container {
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
}

.footer .footer-text li {
    color: var(--clr-bright);
    font-size: 0.75rem;
}

.footer .footer-text li span {
    font-weight: bold;
}

.footer .logo {
    margin-bottom: 30px;
}

.footer .footer-text {
    margin-bottom: 40px;
}

.footer a:hover {
    background-color: var(--clr-main);
}

.social-links-container li:not(:last-child) {
    margin-inline-end: 20px;
}

.footer-container {
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: var(--clr-brighter);
    margin: 0;
    max-height: 19.6875rem;
}

.social-links-container a {
    width: 2.5rem;
    height: 2.5rem;
}

.social-links-container a {
    background-color: var(--clr-bright);
    color: var(--clr-brightest);
    text-decoration: none;
    font-size: 1rem;
}