.gallery-container {
    gap: 8px;
    padding-bottom: 10px;
    grid-auto-flow: row dense;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.gallery-img {
    width: 100%;
    border-radius: 10px;
    /* background-position: center; */
    /* background-size: cover; */
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0);
}

.gallery-img:hover {
    transition: opacity scale 0.4s;
    transform: scale(1.01);
    cursor: pointer;
    opacity: 0.8;
}


.keyword-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.keyword-container>li {
    margin-left: 1rem;
}

input[name="keyword"] {
    /* overflow: visible; */
    /* font-family: inherit; */
    cursor: pointer;
    display: inline;
    line-height: 1.15;
    width: 250px;
    border-bottom: 2px solid var(--clr-main);
    border-radius: 15px;
    border-right: none;
    margin-top: 10px;
    padding: 10px
}

.btn-keyword {
    background-color: transparent;
    border: none;
    font-weight: lighter;
}

.btn-flexable{
    color: var(--clr-main);
    background-color: var(--clr-darkest);
    padding: 10px;
}

.btn-keyword[data-fs='3'] {font-size: calc(1rem + 1px);}
.btn-keyword[data-fs='4'] {font-size: calc(1rem + 2px);}
.btn-keyword[data-fs='5'] {font-size: calc(1rem + 3px);}
.btn-keyword[data-fs='6'] {font-size: calc(1rem + 4px);}
.btn-keyword[data-fs='7'] {font-size: calc(1rem + 5px);}

.btn-keyword[data-fs='8'] {
    font-size: calc(1rem + 6px);
    font-weight: unset;
}

.btn-keyword[data-fs='9'] {
    font-size: calc(1rem + 7px);
    font-weight: bold;
}

.btn-keyword[data-fs='10'] {
    font-size: calc(1rem + 8px);
    font-weight: bold;
}

.btn-keyword[data-fs='11'] {
    font-size: calc(1rem + 9px);
    font-weight: bold;
}

.btn-keyword[data-fs='12'] {
    font-size: calc(1rem + 10px);
    font-weight: bold;
}

/* /~ TABLET ~/ */
@media (min-width: 768px) {
    .gallery-container {
        gap: 12px;
    }
}

/* DESKTOP */
@media (min-width: 1020px) {
    .gallery-container {
        gap: 14px;
    }
}