/* Paging */
section.main-gallery-container {
    position: fixed;
    left: 101vw;
}

body.page-gallery .main-gallery-container {
    position: unset;
    right: unset;
    animation: fade-in-left .8s;
}

.fade-in-left {
    animation-name: fade-in-left;
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Filter */
form.gallery-search {
    float: left;
    border-bottom: 2px solid var(--clr-main);
    border-top: none;
    display: inline;
    font-size: 1rem;
    max-width: 200px;
    padding: 2px;
    margin-top: 5px;
}

input[name="gallery-filter"] {
    background-color: transparent;
    border: none;
    height: 40px;
}

.btn-search::before {
    font-family: fa-solid;
    font-size: 1.70em;
    color: var(--clr-main);
    content: '\f002';
}

.btn-search {
    background-color: transparent;
    border: none;
}

.btn-i-flexible {
    float: right;
    font-size: calc(2px + 1rem);
    margin-top: 5px;
    margin-inline-start: 10px;
}

/* Keywords buttons*/
ul.gallery-keyword-container {
    list-style-type: none;
    clear: left;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
}

.gallery-keyword-container>li {
    margin-inline-start: .5em;
}

ul.keyword-container,
.keyword-container>li {
    line-height: 1.15;
    padding: 10px;
}

/* Keywords Btns */
.btn-keyword[data-pos='modal'] {
    font-size: calc(1rem + 1px);
    text-decoration: underline;
    margin-right: 5px;
}

.btn-keyword:not([data-pos='modal']) {
    font-family: euro-regular;
    background-color: transparent;
    border: none;
    font-weight: 100;
    color: var(--clr-txt);
}

.btn-keyword[data-fs='3'] {
    font-size: calc(1rem + 1px);
    font-weight: 200;
}

.btn-keyword[data-fs='4'] {
    font-size: calc(1rem + 2px);
    font-weight: 300;
}

.btn-keyword[data-fs='5'] {
    font-size: calc(1rem + 3px);
    font-weight: 400;
}

.btn-keyword[data-fs='6'] {
    font-size: calc(1rem + 4px);
    font-weight: 500;
}

.btn-keyword[data-fs='7'] {
    font-size: calc(1rem + 5px);
    font-weight: 600;
}

.btn-keyword[data-fs='8'] {
    font-size: calc(1rem + 6px);
    font-weight: 700;
}

.btn-keyword[data-fs='9'] {
    font-size: calc(1rem + 7px);
    font-weight: 800;
    font-weight: bold;
}

.btn-keyword[data-fs='10'] {
    font-size: calc(1rem + 8px);
    font-weight: bold;
}

.btn-keyword[data-fs='11'] {
    font-size: calc(1rem + 9px);
    font-weight: bold;
}

.btn-keyword[data-fs='12'] {
    font-size: calc(1rem + 10px);
    font-weight: bold;
}

.btn-keyword[data-fs='13'] {
    font-size: calc(1rem + 11px);
    font-weight: bold;
}

.btn-keyword[data-fs='14'] {
    font-size: calc(1rem + 12px);
    font-weight: bold;
}

.btn-keyword[data-fs='15'] {
    font-size: calc(1rem + 13px);
    font-weight: bold;
}

.btn-keyword[data-fs='16'] {
    font-size: calc(1rem + 14px);
    font-weight: bolder;
}

/*  Gallery */
.gallery-container {
    margin: 0 auto;
    width: 90%;
    padding: 10px 5px;

    display: grid;
    justify-content: center;
    justify-items: center;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(120px, 12fr));
    gap: 10px;
}

.gallery-container ::selection {
    background-color: transparent;
}

/*  Grid Item */
.gallery-item {
    grid-auto-rows: 0;
    border-radius: 1em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0);
    border: 1px solid var(--clr-main);
}

img.gallery-item:hover {
    cursor: pointer;
    transition: opacity scale 1s;
    transform: scale(1.04);
    filter: opacity(0.8);
}

/* Stat */
.gallery-item.gallery-stat {
    border: 1px solid var(--clr-hoover);
    font-weight: bold;
    flex-direction: column;
    align-self: stretch;
    justify-self: stretch;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--clr-main);
}

label[name="upload-img"]{
    color: red important!;
    cursor: pointer;
}

input[name="upload-img"] {
    opacity: 0;
   position: relative;
   z-index: -1;
   top: -20px;
}

.gallery-item.gallery-stat {
    align-items: center;
}

.upload-img-container {
    position: relative;
    left: 60px;
}

/* /~ TABLET ~/ */
@media (min-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(130px, 12fr))
    }
}

/* DESKTOP */
@media (min-width: 1020px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 12fr))
    }
}