header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1;
    height: 80px;

    padding: 1rem;
    color: var(--clr-brightest);
    background-color: var(--clr-darker);
    box-shadow: inset 0 -6px 0 var(--clr-darkest);
}

ul.main-nav-list {
    display: flex;
    list-style-type: none;
    width: 100%;
}

.main-nav-list>li {
    border-inline-end: 1px solid var(--clr-darkest);
}

.main-nav-list>li>a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    width: 100%;
    border: none;
    text-decoration: none;
    text-transform: capitalize;

    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var(--clr-brightest);
}

.main-nav-list li a:hover {
    color: var(--clr-prim);
    box-shadow: inset -1px 0 0 var(--clr-darkest), inset 0 -6px 0 var(--clr-prim);
}

.main-nav-list li a.active {
    box-shadow: inset -1px 0 0 var(--clr-darkest), inset 0 -6px 0 var(--clr-prim);
}



.nav-back::before {
    content: 'â†';
    font-size: 1.5rem;
    color: var(--clr-prim);
    font-family: fa-solid;
}

.nav-back {
    animation: tilt-shaking .2s infinite;

}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
        color: var(--clr-prim);
    }

    25% {
        transform: rotate(5deg);
        color: var(--clr-sec);
    }

    50% {
        transform: rotate(0deg);
        color: var(--clr-prim);

    }

    75% {
        transform: rotate(-5deg);
        color: var(--clr-sec);
    }

    100% {
        transform: rotate(0deg);
        color: var(--clr-prim);

    }
}

/* i18 */
select.lang {
    margin-inline-start: 5px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    color: var(--clr-brightest);
}

.lang option {
    color: var(--clr-darker);
}

/* Media Query */
/* Mobile */
@media (max-width: 600px) {
    .main-nav-list {
        position: fixed;
        left: 0;
        flex-direction: column;
        top: 75px;
        justify-content: flex-end;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
    }

    .main-nav-list>li {
        border-bottom: 1px solid #1d1d1d;
    }

    .main-nav-list a {
        background-color: var(--clr-darker);
        width: 100%;
    }

    .mobile-menu-open .main-nav-list {
        border-bottom: 1px solid #1d1d1d;
        max-height: 500px;
        transform-origin: top;
    }

    .menu-open .main-nav-list li a {
        border-bottom: 1px solid #1d1d1d;
    }

    .btn-toggle-menu {
        display: unset;
    }

    .btn-toggle-menu svg *,
    .btn-toggle-menu.nav-open svg * {
        fill: var(--clr-prim);
    }

    .btn-toggle-menu .line1 {
        transition: transform 0.4s ease-out;
        transform-origin: 40% 00%;
    }

    .btn-toggle-menu .line2 {
        transition: opacity 0.2s;
    }

    .btn-toggle-menu .line3 {
        transition: transform 0.4s ease-out;
        transform-origin: 40% 100%;
    }

    .btn-toggle-menu:not(.nav-open) .line1,
    .btn-toggle-menu:not(.nav-open) .line3 {
        transition: transform 0.4s ease-out, fill .6s ease-in;
    }

    .btn-toggle-menu:not(.nav-open) .line2 {
        transition: opacity 0.2s, fill .6s ease-in;
    }

    .btn-toggle-menu.nav-open .line1 {
        transform: rotate(49deg);
    }

    .btn-toggle-menu.nav-open .line2 {
        opacity: 0;
    }

    .btn-toggle-menu.nav-open .line3 {
        transform: rotate(-49deg);
    }
}

/* Tablet */
@media (min-width: 600px) {
    .main-nav-list>li:first-child {
        border-inline-start: 1px solid var(--clr-darkest);
    }

    .main-nav-list>li>a {
        margin-inline: 0 10px;
        flex-direction: row;
        font-size: 1.5rem;
    }

}

@media (min-width: 768px) {
    .main-nav-list>li>a {
        margin-inline: 0 12px;
        font-size: 1.8rem;
    }
}

/* Desktop  */
@media (min-width: 1020px) {
    .main-nav-list>li>a {
        margin-inline: 0 14px;
        font-size: 2rem;
    }
}