.meme-container {
    max-width: 95vw;
}

.canvas {
    cursor: crosshair;
    display: block;
    background-color: #fff;
    margin: 0 auto;
}

.meme-btns-container {
    width: 100%;
}

.line-txt {
    padding: 10px 20px;
    margin-bottom: 1rem;
}

.setting-btn {
    background-color: var(--clr-brighter);

}

.setting-btn:hover {
    cursor: pointer;
    color: var(--clr-hoover);
}

.setting-btn,
.social-links-container a {
    width: 2.5rem;
    height: 2.5rem;
}

.element-setting-container {
    gap: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

select.impact {
    grid-column: span 3;
}