.modal::before{
    content: 'X';
    font: bold;
    font-size: 2rem;
    font-family: fa;
    color: red;
    align-self: flex-start;
}
.modal .nav-back::before{
    font-size: 3rem;
    color: green;
}
.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
    min-height: 50px;
    min-width: 100px;
    background-color: var(--clr-brightest);
    border: 3px solid var(--clr-sec);
    font-weight: bold;
    border-radius: .5em;
    padding: 5px;
  
    background: var(--clr-prim) linear-gradient(to bottom,
            var(--clr-prim),
            var(--clr-brighter) calc(50% - 10px),
            var(--clr-brightest) calc(50% + 10px),
            var(--clr-prim));
}

.modal[hidden]{
    left: -101vw;
    top: -101vh;
}

.modal::selection {
    background-color: var(--clr-sec);
    color: var(--clr-brighter);
}