.modal::before{
    content: 'X';
    align-self: flex-start;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
    align-items: center;
    justify-content: center;
    min-height: 50px;
    min-width: 100px;
    background-color: var(--clr-brightest);
    border: 1px solid var(--clr-prim);
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
  
    background: var(--clr-prim) linear-gradient(to bottom,
            var(--clr-prim),
            var(--clr-brightest) calc(50% - 10px),
            var(--clr-brightest) calc(50% + 10px),
            var(--clr-prim));
}

.modal[hidden]{
    left: -101vw;
    top: -101vh;
}

.modal::selection {
    background-color: var(--clr-sec);
    color: var(--clr-brighter);
}