.user-msg {
    font-size: calc(3vw + 4px);
    font-family: fantasy;
    display: flex;
    border-radius: .5em;
    color: var(--clr-prim);

    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: var(--clr-darkest);
    padding: 10px;
}

.user-msg-open {
    z-index: 1;
    bottom: 50px;
    transition: bottom .5s;
}