.i-align-center::before {
    content: url('../../assets/img/svg/align-center.svg');
}

.i-align-justify::before {
    content: url('../../assets/img/svg/align-justify.svg');
}

.i-align-left::before {
    content: url('../../assets/img/svg/align-left.svg');
}

.i-arrow-down::before {
    content: url('../../assets/img/svg/arrow-down.svg');
}

.i-arrow-up-down::before {
    content: url('../../assets/img/svg/arrow-up-down.svg');
}

.i-arrow-up::before {
    content: url('../../assets/img/svg/arrow-up.svg');
}

.i-menubar::before {
    content: url('../../assets/img/svg/menubar.svg');
}

.i-minus::before {
    content: url('../../assets/img/svg/minus.svg');
}

.i-paintbrush::before {
    content: url('../../assets/img/svg/paintbrush.svg');
}

.i-palette::before {
    content: url('../../assets/img/svg/palette.svg');
}

.i-plus::before {
    content: url('../../assets/img/svg/plus.svg');
}

.i-search::before {
    content: url('../../assets/img/svg/search.svg');
}
.i-trash::before {
    content: url('../../assets/img/svg/trash.svg');
}