/* Eurofurence*/
@font-face {
    font-family: euro-regular;
    src: url(../../assets/font/eurofurence/eurof55.woff);
}

/* Font-Awesome */
@font-face {
    font-family: fa;
    src: url(../../assets/font/font-awesome/fa-brands-400.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(../../assets/font/font-awesome/fa-solid-900.ttf);
}

/* For Icons without Css */
.fa {font-family: fa;}
.fa-solid {font-family: fa-solid;}