:root {
    /* pallettes */
    --clr-prim: #fb9623;
    --clr-sec: #852399;

    --clr-brightest: #ffffff;
    --clr-brighter: #f8f8f8;
    --clr-bright: #818181;
    --clr-dark: #606060;
    --clr-darker: #292929;
    --clr-darkest: #1d1d1d;

    /* Responsive */
    --mobile: 496px;
    --tablet: 768px;
    --desktop: 1240px;
}